version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  zipkin:
    image: openzipkin/zipkin
    ports:
      - "9411:9411"
    networks:
      - app-net

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - app-net

  host-service:
    build:
      context: .
      dockerfile: LinuxPackageManager.Host/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      # RabbitMq:Host -> RabbitMq__Host
      - RabbitMq__Host=rabbitmq
      # Zipkin:Endpoint -> Zipkin__Endpoint
      - Zipkin__Endpoint=http://zipkin:9411/api/v2/spans
      # GrpcClient:AnalyticsAddress -> GrpcClient__AnalyticsAddress
      # Используем http и внутренний порт 8080, так как analytics-service в той же сети
      - GrpcClient__AnalyticsAddress=http://analytics-service:8080
    ports:
      - "5000:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
      zipkin:
        condition: service_started
    networks:
      - app-net

  analytics-service:
    build:
      context: .
      dockerfile: LinuxPackageManager.AnalyticsService/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - Kestrel__Endpoints__Http__Protocols=Http2 # Принудительно HTTP/2 для gRPC
    ports:
      - "5001:8080"
    networks:
      - app-net

  notification-service:
    build:
      context: .
      dockerfile: LinuxPackageManager.NotificationService/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - RabbitMq__Host=rabbitmq
      - Zipkin__Endpoint=http://zipkin:9411/api/v2/spans
    ports:
      - "5002:8080"
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-net

  audit-service:
    build:
      context: .
      dockerfile: LinuxPackageManager.AuditService/Dockerfile
    environment:
      # Worker service не слушает HTTP, но для метрик Prometheus порт нужен
      - ASPNETCORE_HTTP_PORTS=8080
      - RabbitMq__Host=rabbitmq
      - Zipkin__Endpoint=http://zipkin:9411/api/v2/spans
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-net

  statistics-service:
    build:
      context: .
      dockerfile: LinuxPackageManager.StatisticsService/Dockerfile
    environment:
      - ASPNETCORE_HTTP_PORTS=8080
      - RabbitMq__Host=rabbitmq
      - Zipkin__Endpoint=http://zipkin:9411/api/v2/spans
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - app-net

networks:
  app-net:
    driver: bridge